/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 // ----- Variables ---- //

 $grey:       #282c37;
 $blue:       #2b90d9;
 $light_grey: #d9e1e8;
 $slate:      #9baec8;
 $orange:     #ff5f2e;

 // ----- Global Styles ----//

 .border {
  height: 3px;
  border: 0;
  background-color: $blue;
 }

 html, body {
  font-family: 'Open Sans', sans-serif;
 }

 .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
 }

 .clearfix:after {
  clear: both;
 }

 .wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
 }

 h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
 }

 .button_wrapper {
  text-align: center;
  .button {
  border: none;
  outline: none;
  border-radius: .3rem;
  padding: .5rem 3rem;
  font-weight: 300;
  color: $grey;
  text-decoration: none;
  text-align: center;
  background: $light_grey;
  }
  .search_button {
  border: none;
  outline: none;
  padding: .3rem 1rem;
  border-radius: .3em;
  font-weight: 300;
  color: $grey;
  text-decoration: none;
  text-align: center;
  background: $light_grey;
  transition: all .3s ease-in-out;
  &:hover {
        color: $orange;
    }
  }
 }

 //.button_highlight {
 // background: $blue;
 //}

 .hidden {
  display: none;
 }

 // ----- Header Styles ---- //

 #top_header {
  padding: 1.5em 0;
  a {
    text-decoration: none;
    color: $grey;
  }
  .logo {
    float: left;
    text-transform: uppercase; // --optional --//
    font-size: 1.15em;
    font-weight: 700;
    span {
      font-weight: 300;
      color: $blue;
      transition: all .3s ease-in-out;
      &:hover {
        color: $orange;
      }
    }
  }
  #main_nav {
    float: right;
    font-size: .9em;
    padding-top: 1em;
    a {
      color: $blue;
      text-decoration: none;
      margin-left: 1em;
      transition: all .3s ease-in-out;
      &:visited {
        color: $slate;
      }
      &:hover {
        color: $orange;
      }
    }
  }
 }

 // ----- Post Styles ---- //

 #content {
  h2 {
    font-size: 1.3em;
    a {
      text-decoration: none;
      transition: all .3s ease-in-out;
      color: $blue;
      &:visited {
        color: $slate;
      }
      &:hover {
        color: $orange;
      }
    }
  }
  p {
    font-size: .9em;
  }
 }

 .post_form {
  input[type="text"], textarea {
      width: 25%;
      margin: 0 .5%;
      border: 1px solid $light_grey;
      outline: none;
      border-radius: .3em;
      background: #FFFFFF;
      padding: .5em 1.25em;
      color: $grey;
    }
  text-align: center;
  margin-top: 2em;
  textarea {
    width: 75%;
    min-height: 300px;
  }
 }

 // ----- Contact Styles ---- //

 .hello_form {
  input[type="text"], [type="email"], textarea {
      width: 25%;
      margin: 0 .5%;
      border: 1px solid $light_grey;
      outline: none;
      border-radius: .3em;
      background: #FFFFFF;
      padding: .5em 1.25em;
      color: $grey;
    }
  text-align: center;
  margin-top: 2em;
  textarea {
    width: 50%;
    min-height: 200px;
  }
 }

 // ----- Devise Styles ---- //

 .login_form {
  input[type="email"], input[type="password"] {
      width: 25%;
      margin: 0 .5%;
      border: 1px solid $light_grey;
      outline: none;
      border-radius: .3em;
      background: #FFFFFF;
      padding: .5em 1.25em;
      color: $grey;
    }
  text-align: center;
  a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: $blue;
    &:visited {
      color: $slate;
      }
    &:hover {
      color: $orange;
    }
  }
  .password_button {
  border: none;
  outline: none;
  padding: .3rem 1rem;
  border-radius: .3em;
  font-weight: 300;
  color: $grey;
  text-decoration: none;
  text-align: center;
  background: $light_grey;
  transition: all .3s ease-in-out;
  &:hover {
        color: $orange;
    }
  }
 }

// ----- Footer Styles ---- //

footer {
  text-align: center;
  // width: 1440px;
  margin: 0 auto;
  .search_form {
    margin-top: 3em;
    input[type="text"], input[type="search"] {
      width: 25%;
      margin: 0 .5%;
      height: 1.1em;
      border: 1px solid $light_grey;
      outline: none;
      border-radius: .3em;
      padding: .5em 1.25em;
      color: #282c37;
    }
  }
  a,i {
    text-decoration: none;
  }
  .sign {
    float: right;
    font-size: .9em;
  }
  a, p {
    text-decoration: none;
    font-size: .8em;
    color: $grey;
  }
}

// ----- Pagination ---- //

.pagination {
  background: white;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: $light_grey;
    border: 1px solid #dddddd;
    border-radius: .2rem;
    margin: 0 .8em 0 0;
  }
  .current {
    font-weight: 300;
    background: $slate;
    color: white;
    border: 1px solid $slate;
    border-radius: .2rem;
    margin: 0 .8em 0 0;
  }
  a {
    text-decoration: none;
    color: $slate;
    border: 1px solid $slate;
    border-radius: .2rem;
    &:hover, &:focus {
      color: $orange;
      border-color: $grey;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

// ----- Mixins ---- //

@import "font-awesome";
@import "pygments";